#gridContainer {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 50px 50px 200px 200px 200px 200px;
  background-color: #EEE3CB;
}

#nav {
  grid-column: 1 / 6;
  grid-row: 1;
  background-color: lightslategray;

  text-align: left;
}

#trending {
  border: 2px whitesmoke solid;
  grid-column: 1;
  grid-row: 2 / 6;
  background-color: #967E76;

  text-align: center;
  overflow: scroll;
  border-radius: 2px;
}
#search {
  border: 2px whitesmoke solid;
  grid-column: 2;
  grid-row: 2 / 6;
  background-color: #967E76;
  border-radius: 2px;
}
#post {
  border: 2px whitesmoke solid;
  grid-column: 3;
  grid-row: 2 / 6;
  background-color: #967E76;
  border-radius: 2px;
}

.article {
  background-color: ghostwhite;
  border: 2px black solid;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 2px;
}

.article:hover {
  background-color: lightslategray;
  cursor: pointer;
}



.trendall {
  border: none;
  background-color: white;
  font-family: 'DM Sans', sans-serif;
  margin-top: 10px;

}

.trendall:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.trendall:focus {
  border: 1px black solid;
}

ul {
  padding: 0;
}

h1 {
  margin-top: 10px;
  margin-left: 5px;
}

