#gridContainer {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 50px 50px 200px 200px 200px 200px;
  background-color: lightgray;
}

#nav {
  grid-column: 1 / 6;
  grid-row: 1;
  background-color: lightcyan;
}

#trending {
  border: 2px whitesmoke solid;
  grid-column: 1;
  grid-row: 3 / 6;
  background-color: antiquewhite;

  text-align: center;
  overflow: scroll;
}
#search {
  border: 2px whitesmoke solid;
  grid-column: 2;
  grid-row: 3 / 6;
  background-color: antiquewhite;
}
#post {
  border: 2px whitesmoke solid;
  grid-column: 3;
  grid-row: 3 / 6;
  background-color: antiquewhite;
}

ul {
  padding: 0;
}